@use "./utilities/global" as *;

//TODO vertical positioning of red dot

.container {
  padding: {
    top: lerp_clamp($w-mobile, rem(16px), $breakpoint, rem(18px));
    inline: lerp_clamp($w-mobile, rem(16px), $breakpoint, rem(20px));
    bottom: lerp_clamp($w-mobile, rem(16px), $breakpoint, rem(17px));
  }
  display: flex;
  gap: lerp_clamp($w-mobile, rem(13px), $breakpoint, rem(19px));
  border-radius: 8px;
  background-color: white;
  margin-bottom: lerp_clamp($w-mobile, rem(10px), $breakpoint, rem(8px));
  font-size: lerp_clamp($w-mobile, rem(14px), $breakpoint, rem(16px));
  line-height: lerp_clamp($w-mobile, rem(18px), $breakpoint, rem(20px));
  font-weight: 500;
  color: color(dark-grayish-blue);
}

.container--unread {
  composes: container;
  background-color: color(very-light-grayish-blue);
}

.avatar,
.commented_pic {
  width: lerp_clamp($w-mobile, rem(39px), $breakpoint, rem(45px));
  height: lerp_clamp($w-mobile, rem(39px), $breakpoint, rem(45px));
}

.dot {
  display: inline-block;
  width: rem(8px);
  height: rem(8px);
  background-color: color(red);
  border-radius: 50%;
  margin-left: rem(6px);
  margin-bottom: rem(1px);
}

.user_name {
  font-weight: 800;
  color: color(very-dark-blue);
  margin-right: rem(6px);
  &:hover {
    color: color(blue);
  }
}

.link_post {
  &:any-link {
    color: inherit;
    font-weight: 800;
    margin-left: rem(6px);
  }
  &:hover {
    color: color(blue);
  }
}

.link_group:any-link {
  color: color(blue);
  font-weight: 800;
  margin-left: rem(6px);
}

.message {
  border: 1px solid color(light-grayish-blue-2);
  border-radius: 5px;
  padding: {
    top: lerp_clamp($w-mobile, rem(16px), $breakpoint, rem(17px));
    inline: lerp_clamp($w-mobile, rem(16px), $breakpoint, rem(20px));
    bottom: lerp_clamp($w-mobile, rem(16px), $breakpoint, rem(20px));
  }
  margin-top: lerp_clamp($w-mobile, rem(12px), $breakpoint, rem(13px));
  cursor: pointer;
  &:hover {
    background-color: color(light-grayish-blue-1);
  }
}

.commented_pic {
  margin-left: auto;
  min-width: rem(39px);
}

.elapsed_time {
  color: color(grayish-blue);
  margin-top: rem(3px);
}
